* {
    margin: 0;
    padding: 0;
}
html,body {
    font-family: 'Roboto Condensed', sans-serif;
}

/* border-bottom: 1px solid rgba(255,255,255,.2); */
/* HEADER  */
.home {
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    left: 0;
}

.home .heading {
    margin-top: 30px;
}

.home .heading a {
    margin-right: 7px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

#movieNavbar li a {
    font-size: 16px;
    font-weight: 400;
    color: white;
    letter-spacing: 3px;
    padding: 20px 24px;
    display: inline-block;
    line-height: 0.8em;
}

#movieNavbar .navbar-nav {
    border-bottom: 1px solid rgba(255,255,255,.2);
}

#movieNavbar .nav-item::after {
    content: '';
    width: 0;
    height: 3px;

    /* huong trai tu trsai qua phai 
    trai : la vi tri mau bat dau ( cam nhat ) 
    phai : vi tri mau ket thuc ( cam dam )*/
    /* #fbbd61,#ec7532 */
    background: linear-gradient(to right,#fbbd61,#ec7532);
    box-shadow: 0 0 20px 0 #fbbd61;
    display: block;
    transition: 0.4s;
}

#movieNavbar .nav-item:hover::after {
    width: 100%;
}

#movieNavbar .nav-item.active::after {
    width: 100%;
}

/* MOVICAROUSEL  */
.carousel-caption {
    position: absolute;
    text-align: left;
    width: 80%;
    top: 55%;
    left: 50%;
    transform: translate(-50% ,-50%);
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}

.carousel-caption p:nth-child(1) {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fbbd61;
}

.carousel-caption h2:nth-child(2) {
    font-size: 52px;
    font-weight: 300;
    padding: 0;
    letter-spacing: 3px;
    color: #fff;
    border: none;
}

.carousel-caption p:nth-child(3) {
    font-size: 18px;
    color: white;
}

.carousel-caption .buttons p {
    font-size: 13px;
    font-weight: 700;
    line-height: 48px;
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-right: 8px;
    transform: translateY(2px);
    text-align: center;
    color: white;
    border: solid 2px white;
    border-radius: 50%;
}

.carousel-caption .buttons button {
    line-height: 48px;
    height: 48px;
    width: 200px;
    font-size: 13px;
    font-weight: 400;
    overflow: hidden;
    width: auto;
    padding: 0 24px;
    border-radius: 35px;
    border: none;
    background: linear-gradient(to right,#fbbd61,#ec7532);
}

.carousel-caption button a {
    text-decoration: none;
    color: white;
    letter-spacing: 4px;
    padding: 0 10px;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: white;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: left;
    padding-left: 0;
    /* margin-right: 15%; */
    margin-left: 10%;
    margin-bottom: 5%;
    list-style: none;
}

.carousel-indicators li {
    width: 9px;
    height: 9px;
    margin-right: 12px;
    border-radius: 50%;
    border: 2px solid white;
    /* text-indent: -999px; */
    /* cursor: pointer; */
    background-color: black;
    /* background-clip: padding-box; */
    opacity: 1;
    transition: .6s ease;
}

.carousel-item__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top, black , transparent);
}

.moviCarousel .carousel-item {
    height: 800px;
}

.carousel-inner .item-1 {
    background-image: url("../img/hero-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-inner .item-2 {
    background-image: url("../img/hero-2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-inner .item-3 {
    background-image: url(../img/hero-3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* NEWIN  */
.newIn h2 {
    font-size: 20px;
    margin-bottom: 40px;
    letter-spacing: 1.7px;
    color: #ec7532;
    padding-bottom: 18px;
    border-bottom: 1px solid #d8d8d8;
}

.newIn h2::after {
    position: absolute;
    content: '';
    height: 4px;
    width: 125px;
    display: block;
    margin-top: 18px;
    background-image: linear-gradient(to right,#fbbd61,#ec7532)
}

.newIn__content {
    text-align: center;
    
}

.newIn__name {
    padding: 30px 0;
}

.newIn__name p {
    font-size: 18px;
    color: #4a4a4a;
}

.newIn__name i {
    color: #ec7532;
    opacity: 0.8;
}

.newIn__img {
    position: relative;
    border-radius: 10px;

    /* overflow: hidden : co tac dung che di tat ca the con nao nam ngoai the cha , ben ngoai vung cua the cha */
    overflow: hidden;
}

.newIn__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;

    /* to bottom : mau trai tu tren xuong duoi  */
    background-image: linear-gradient( to bottom,#fbbd61,#ec7532);
    transform: skewX(30deg) translateX(-125%);
    transition: 0.5s;
    opacity: 0.8;
}

.newIn__play {
    position: absolute;
    width: 100%;
    top: 50%;
    right: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    transition: 0.5s;
    color: #fff;
    opacity: 0;
    /* overflow: hidden; */
}

.newIn__play a:nth-child(1) {
    text-decoration: none;
    display: block;
    width: 85px;
    height: 85px;
    color: #fff;
    font-size: 13px;
    margin: 0 auto 20px;
}

.newIn__play i {
    font-size: 20px;
    line-height: 75px;
    width: 80px;
    height: 80px;
    border: 2px solid white;
    border-radius: 50%;
    transition: 0.6s;
}

.newIn__play i:hover {
    font-size: 15px;
    line-height: 65px;
    width: 70px;
    height: 70px;
}

.newIn__play a:nth-child(2) {
    text-decoration: none;
    display: block;
    color: #fff;
    font-size: 13px;
    margin-bottom: 10px;
    cursor: pointer;
    letter-spacing: 4px;
}

.newIn__play span {
    font-size: 16px;
    color: #fff;
    opacity: 0.75;
}

.newIn__img:hover .newIn__play {
    opacity: 1;
}

.newIn__img:hover .newIn__overlay {
    transform: skewX(30deg) translateX(-30%);
}

/* SHOWTIMES  */
.showTimes .nav-tabs .nav-link,
.nav-tabs .nav-link.active {
    color: #495057;
    border: none;
    margin-right: 5px;
}

.showTimes .nav-tabs .nav-link:hover {
    border: white;
}

.showTimes .nav-tabs .nav-item::after {
    content: '';
    width: 0;
    height: 3px;

    /* huong trai tu trsai qua phai 
    trai : la vi tri mau bat dau ( cam nhat ) 
    phai : vi tri mau ket thuc ( cam dam )*/
    /* #fbbd61,#ec7532 */
    background: linear-gradient(to right,#fbbd61,#ec7532);
    box-shadow: 0 0 20px 0 #fbbd61;
    display: block;
    transition: 0.4s;
}

.showTimes .nav-tabs .nav-item:hover::after {
    width: 100%;
}

.showTimes .nav-tabs .nav-link.active::after {
    width: 100%;
}

.showTimes img {
    border-radius: 10px;
    display: block;
}

.showTimes__text span.title {
    color: #ec7532;
    font-size: 14px;
    letter-spacing: 2px;
}

.showTimes__text h3 {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #101010;
}

.showTimes__text p {
    color: #717171;
    font-size: 16px;
    margin: 0 0 20px;
}

.showTimes__text a {
    font-size: 12px;
    position: relative;
    letter-spacing: 4px;
    color: #ec7532;
    text-decoration: none;
    margin-bottom: 25px;
    display: block;
    transition: 0.6s;
}

.showTimes__text a:hover {
    color: black;
}

.showTimes__time .past-time {
    font-size: 12px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #4a4a4a;
}

.running-time {
    font-size: 12px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #4a4a4a;
}

.running-time span:nth-child(2) {
    background-color: #4a4a4a;
    color: white;
    font-size: 13px;
    font-weight: 700;
    line-height: 33px;
    display: inline-block;
    width: 33px;
    height: 33px;
    margin-left: 5px;
    text-align: center;
    border-radius: 50%;
}

/* COMINGSOON */
.comingSoon {
    height: 100%;
    width: 100%;
    color: #fff;
    background: #101010;
    margin-top: 70px;
    margin-bottom: 40px;
}

.coming {
    padding-top: 70px;
    border-bottom: 1px solid #5f5f5f;
    position: relative;
}

.coming h3 {
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
}

.coming h3::after {
    position: absolute;
    top: 8px;
    content: '';
    height: 4px;
    width: 118px;
    display: block;
    margin-top: 88px;
    background-image: linear-gradient(to right,#fbbd61,#ec7532);

}

.comingSoon__slide {
    /* position: relative; */
    background-image: url(../img/slide-3.png);
    height: 100%;
    padding-bottom: 25px;
}

.slide__content {
    padding-top: 40px;
    padding-bottom: 30px;
    margin: auto 0;
}

.slide__content span.title {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ec7532;
}

.slide__content p {
    font-size: 34px;
    margin-bottom: 0;
}

.slide__content .star-rating {
    display: inline-block;
}

.slide__content .star-rating i {
    color: #fbbd61;
}

.slide__content .date {
    display: inline-block;
}

.slide__content .date i {
    display: inline-block;
    padding: 0 5px 0 8px;
}

.slide__content .text {
    margin: 20px 0;
    font-size: 16px;
}

.slide__content a {
    font-size: 12px;
    position: relative;
    letter-spacing: 4px;
    color: #ec7532;
    outline: none;
    text-decoration: none;
    transition: 0.7s;
}

.slide__content a:hover {
    font-size: 12px;
    position: relative;
    letter-spacing: 4px;
    color: #d3a387;
    outline: none;
    text-decoration: none;
}

.slide-video {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100%;
}

.slide-video a:hover i {
    font-size: 32px;
    line-height: 70px;
    width: 75px;
    height: 75px;
}

.slide-video i {
    font-size: 35px;
    line-height: 75px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    margin: auto;
    text-align: center;
    color: #fff;
    border: 2px solid #ec7532;
    border-radius: 50%;
    transition: 0.5s;
}

.slide-video img {
    width: 100%;
    height: auto;
    background-size: cover;
}

/* slide__item  */
.slide__item {
    width: 100%;
    text-align: center;
    position: relative;
    padding-top: 60px;
    padding-bottom: 40px;
}

.slide__item .item {
    padding-left: 15px;
    padding-right: 15px;
    opacity: 0.4;
    transition: 0.6s;
}

.slide__item .item-1 {
    opacity: 1;
}

.slide__item .item:hover {
    opacity: 1;
}

.slide__item .item img {
    width: 165px;
    height: auto;
    border: none;
    border-radius: 10px;
    display: block;
}

.slide__item a {
    text-decoration: none;
}

.slide__item h3 {
    font-size: 16px;
    color: white;
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.slide__item p {
    font-size: 14px;
    opacity: 0.4;
    color: white;
    padding-top: 5px;
}

.slick-prev:before {
    font-family: 'slick';
    line-height: 1;
    opacity: .75;
    color: #ec7532;
    font-size: 25px;
    position: absolute;
    top: -236%;
    /* left: -55%; */
}

.slick-next:before {
    font-family: 'slick';
    line-height: 1;
    opacity: .75;
    color: #ec7532;
    font-size: 25px;
    position: absolute;
    top: -236%;
    right: 20%;
}


/* SUPPORT  */
.support {
    padding: 50px;
    text-align: center;
}

.support .support__text{
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 1px;
    color: #4a4a4a;
}

.support .support__number{
    font-size: 46px;
    font-weight: 400;
    margin-bottom: 0;
    color: #ec7532;
}


/* FOOTER  */
.footer {
    background-color: #101010;
    font-size: 13px;
}

.footer__content {
    padding: 70px 0 30px 0;
    margin: 0 auto;
}

.footer__item {
    width: 100%;
}

.footer__item h4 {
    font-size: 16px;
    margin: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ec7532;
    border: none;
}

.footer__item li {
    list-style: none;
}

.footer__item a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 3px 0;
    transition: 0.7s;
}

.footer__item i {
    color: rgb(105, 99, 99);
    width: 25px;
    display: inline-block;
    transition: 0.7s;
}

.footer__item a span {
    letter-spacing: 1.5px;
    padding-left: 3px;
}

.footer__item a:hover,
.footer__item a:hover i {
    color: #fbbd61;
}

.copyright p {
    padding: 20px 0;
    color: white;
    border-top: 1px solid rgba(255,255,255,.1);
}

.copyright a {
    text-decoration: none;
    color: white;
    transition: 0.6s;
}

.copyright a:hover {
    color: #ec7532;
}


/* REPONSIVE  */
@media screen and (max-width:575.98px) {
    .newIn__img img {
        width: 100%;
    }
}

@media screen and (max-width:575.98px) {
    .showTimes img {
        width: 100%;
    }
}


